/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *-------------------------------------------------------------------*/

@import '../../sass_lib/layout'

.logo
  @extend %center
  position: relative
  z-index: 1

.logo__image 
  height: 150px
  width: 150px


