/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *-------------------------------------------------------------------*/

@import '../../sass_lib/island'

.welcome
  //border: 1px solid black
  +island

+at-breakpoint('palm')
  .welcome
    background: $very-soft url(../images/box-bg.png) repeat
    +deca
    +soft-font
    color: $very-loud

.welcome strong
  +contrast-font
  font-weight: 700

.welcome__image
  max-width: 100%
