/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *-------------------------------------------------------------------*/

@import '../../sass_lib/island'

.welcome-message

.welcome-message__title
  +primary--regular
  @extend %kilo

.welcome-message__text
  +primary--italic
  @extend %unit

+at-breakpoint('palm')
  .welcome-message__title
    +island
    +gravity--size-normal
    //background: $moderately-loud
    +kilo
    +secondary--regular
    color: $very-soft
    text-align: center
    +text-shadow

  .welcome-message__text
    +island
    background: $very-loud /*url('../images/icons/olives.png') no-repeat right bottom*/
    background-size: 75px 75px
    +deca
    +primary--regular
    color: $very-soft
    margin-bottom: 0
    +opacity(0.85)

.welcome-message__text strong
  +primary--bold
  font-style: italic

.welcome-message__text em
  +primary--italic

//.welcome-message__image
  max-width: 100%
