// layout and spacing
.showcase
  height: 370px
  border: 10px solid white
  /*
   * triggers a new positioning 
   * context.
   */
  position: relative 
  box-shadow: 0 8px 6px -6px grey, 0 -8px 6px -6px grey

.showcase__content
  //width: 800px
  height: 100%

.showcase__panel
  height: 100%
  display: none

.showcase__list
  width: 210px
  height: 100%
  position: absolute
  right: 0
  top: 0

.showcase__link
  height: 70px
  display: block
  padding-left: 20px
  background: url('../images/showcase-menu__link.png') rgba(0, 0, 0, 0)

//typography
.showcase__link
  +primary--regular
  @extend %centi
  text-align: center
  line-height: 70px 
  color: white
//state
.showcase__panel--state-on
  display: block

.showcase__panel--state-off
  display: none

.showcase__link--state-on
  background-position: 0 -70px

.showcase__link--state-off
  background-position: 0 0


//welcome-message
.welcome-message
  background: url('../images/showcase__image-1.jpg')

.welcome-message__title
  width: 50%
  background-color: $very-loud
  +primary--regular
  @extend %kilo
  color: $moderately-soft
  padding: 24px 0 24px 48px
  +opacity(0.85)

.welcome-message p
  width: 50%
  background-color: $very-loud
  +primary--italic
  @extend %unit
  color: $very-soft
  padding: 0 0 24px 48px
  +opacity(0.85)

.welcome-message p strong
  +primary--bold
  font-style: italic

.welcome-message p em
  +primary--italic  


//wine-oil-tourism
.wine-oil-tourism
  background: url('../images/showcase__image-2.jpg')


