// layout and spacing
//products
.products
  padding: 45px 15px

.products-message
  width: 290px
  padding: 0 15px
  display: inline-block
  vertical-align: top

.products__list
  width: 630px
  display: inline-block
  text-align: justify
  font-size: 0 

.products__list:after
  content: " "
  width: 100%
  display: inline-block
  

.products__item
  display: inline-block
  vertical-align: top
  font-size: 16px
  text-align: left
  color: white
  

//product
//thumbnail base layout rules

.product 
  width: 150px
  height: 180px
  overflow: hidden
  position: relative
  text-align: center

  border: 2px solid white
  //box-shadow: 0 8px 6px -6px grey


.product__image
  width: 150px
  height: 180px

.product__info 
  width: 150px
  height: 180px
  position: absolute
  top: 0
  left: 0

// thumbnail skin

.product--skin-thumbnail-1 
  .product__image  
    transition: all 0.2s linear

  .product__info
    opacity: 0
    background-color: rgba(28,92,163, 0.7) 
    transition: all 0.4s ease-in-out
                
  .product__ingredients
    transform: translateY(-100px)
    opacity: 0
    transition: all 0.2s ease-in-out
                            
  .product__type 
    transform: translateY(100px)
    opacity: 0
    transition: all 0.2s linear
                                        
  .product__tasting-notes
    opacity: 0
    transition: all 0.2s ease-in-out
                                                
  &:hover .product__image
    transform: scale(1.1)
   
  &:hover .product__info:hover 
    opacity: 1
   
  &:hover .product__ingredients,
  &:hover .product__type,
  &:hover .product__tasting-notes
    opacity: 1
    transform: translateY(0px)
                
  &:hover .product__type
    transition-delay: 0.1s
                    
  &:hover .product__tasting-notes
    transition-delay: 0.2s

// 

.product__ingredients
  font-family: Georgia, "Times New Roman", Times, serif
  font-size: 13px
  font-style: italic
  color: #fff
  text-align: center
  position: relative
  padding: 10px
  //background: rgba(0, 0, 0, 0.8)
  margin: 20px 0 0 0

.product__type
  font-family: Georgia, "Times New Roman", Times, serif
  font-size: 11px
  text-transform: uppercase
  position: relative
  color: #fff
  padding: 10px 20px 20px
  text-align: center

.product__tasting-notes
  display: inline-block
  font-family: Georgia, "Times New Roman", Times, serif
  font-size: 12px
  text-transform: uppercase
  //text-decoration: none
  padding: 7px 14px
  background: #111111
  color: #fff
  box-shadow: 0 0 1px #000
  
  &:hover 
    box-shadow: 0 0 5px #000

.product__name
  font-family: Georgia, "Times New Roman", Times, serif
  font-size: 20px
  font-weight: 400
  color: #1e1e1e
  text-align: center
  margin-top: 20px
  padding-top: 10px
  border-top: 1px dotted #1e1e1e

// product-message

.products-message
  .products__title
    font-family: Georgia, "Times New Roman", Times, serif
    font-size: 34px
    text-align: center

  .products__tag-line
    font-family: Georgia
    font-size: 16px
    font-weight: 400
    font-style: italic
    margin-top: 5px
  p
    font-family: Georgia, "Times New Roman", Times, serif
    font-size: 14px
    line-height: 20px
    margin-top: 15px
    padding-top: 10px
    border-top: 1px dotted #1e1e1e // replace this with a border decoration
