@import '../../sass_lib/flag'
@import '../../sass_lib/island'
@import '../../sass_lib/gravity'

+at-breakpoint('palm')
  .products__title
    padding: 12px //TODO make a mixin for other type of island
    +gravity--size-big
    +kilo
    +primary--regular
    color: $moderately-soft
    +text-shadow
    text-align: center
    text-transform: capitalize

  .products__item
    background-color: $moderately-loud
    +gravity--size-big
  
  .product__image
    margin: 0 auto
    max-height: 96px
    max-width: 96px
    position: relative
    top: -48px

  .product__image img
    height: 96px
    width: 96px

  .product__name
    +hecto
    +secondary--regular
    color: $very-soft
    +text-shadow
    text-align: center
    margin: -48px 0 0 0

  .product__details
    +island
    +unit
    +primary--light
    color: $very-soft
    text-align: center

  .product__details strong
    +primary--bold
    
  .product__details em
    +primary--italic

///////

.products
  padding: 30px

.products-message
  width: 260px
  display: inline-block
  //background: red
  vertical-align: top

.products__list
  width: 630px
  display: inline-block
  //background: yellow
  text-align: justify
  font-size: 0 

.products__list:after
  content: " "
  width: 100%
  display: inline-block
  

.products__item
  width: 138px
  display: inline-block
  vertical-align: top
  font-size: 16px
  text-align: left
