.tourism
  +island
  background: $very-loud url('../images/icons/tourism-cabin.png') no-repeat right
  background-size: 100px 100px
  +unit
  +primary--light
  color: $very-soft

.tourism strong
  +primary--bold

.tourism em
  +primary--italic

.tourism__title
  +island
  text-align: center
  //background-color: $soft
  +kilo
  +secondary--regular
  color: $moderately-soft
  //+single-text-shadow($very-soft)
