.tourism
  +island
  background: $very-loud url('../images/icons/tourism-cabin.png') no-repeat right
  background-size: 100px 100px
  +unit
  +very-soft-font 
  color: $very-soft

.tourism strong
  +contrast-font

.tourism em
  +emphasize-font

.tourism__title
  +island
  text-align: center
  //background-color: $soft
  +kilo
  +loud-font
  color: $moderately-soft
  //+single-text-shadow($very-soft)
