/*
 *.tourism
 * +island
 * background: $very-loud url('../images/icons/tourism-cabin.png') no-repeat right
 * background-size: 100px 100px
 * +unit
 * +primary--light
 * color: $very-soft
 *
 *.tourism strong
 * +primary--bold
 *
 *.tourism em
 * +primary--italic
 *
 *.tourism__title
 * +island
 * text-align: center
 * //background-color: $soft
 * +kilo
 * +secondary--regular
 * color: $moderately-soft
 * //+single-text-shadow($very-soft)
 */

.tourism
  padding: 30px
  background-image: url('../images/vineyard.jpg')
  height: 350px
  background-size: 100% 350px
  //height: 300px

.tourism
  .tourism__header, p
    background: #e9f2f9
    padding: 30px

.tourism__header
  padding: 30px
  font-family: Georgia, "Times New Roman", Times, serif

.tourism__title
  font-size: 34px
  background: #F2FBFF

.tourism__tag-line
  background: #F2FBFF
  font-size: 16px
  font-style: italic
  font-weight: 400
