/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *-------------------------------------------------------------------*/
@import '../sass_lib/flag'

.footer
  @extend %flag
  background-color: $black

.footer__text
  //+island
  +deci
  +soft-font
  color: $moderately-soft
  @extend %flag__mast

.footer__social
  @extend %flag__banner
  height: 35px
  width: 35px !important
