/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/logo/_logo.sass */
.logo {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid black;
}
/* line 18, ../../sass_lib/_island.sass */
.logo > :last-child {
  margin-bottom: 0;
}

/* line 19, ../../blocks/logo/_logo.sass */
.logo__image {
  max-width: 100%;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/nav/_nav.sass */
.nav__list, .nav__item {
  padding: 12px;
  margin-bottom: 12px;
}
/* line 18, ../../sass_lib/_island.sass */
.nav__list > :last-child, .nav__item > :last-child {
  margin-bottom: 0;
}

/* line 19, ../../blocks/nav/_nav.sass */
.nav__link {
  display: block;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 13, ../../sass_lib/_flag.sass */
.product {
  display: table;
  width: 100%;
}
/* line 17, ../../sass_lib/_flag.sass */
.product .product__image, .product .product__name {
  display: table-cell;
  vertical-align: middle;
}
/* line 31, ../../sass_lib/_flag.sass */
.product .product__image > img {
  display: block;
  max-width: none;
}
/* line 35, ../../sass_lib/_flag.sass */
.product .product__name {
  width: 100%;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 4, ../../blocks/products/_products.sass */
.products {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid black;
}
/* line 18, ../../sass_lib/_island.sass */
.products > :last-child {
  margin-bottom: 0;
}

/* line 8, ../../blocks/products/_products.sass */
.product__name {
  padding: 12px;
  margin-bottom: 12px;
}
/* line 18, ../../sass_lib/_island.sass */
.product__name > :last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/welcome/_welcome.sass */
.welcome {
  border: 1px solid black;
  padding: 12px;
  margin-bottom: 12px;
}
/* line 18, ../../sass_lib/_island.sass */
.welcome > :last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/featured/_featured.sass */
.featured {
  border: 1px solid black;
  padding: 12px;
  margin-bottom: 12px;
}
/* line 18, ../../sass_lib/_island.sass */
.featured > :last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 24, ../../blocks/main.sass */
.header, .content, .footer {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid black;
}
/* line 18, ../../sass_lib/_island.sass */
.header > :last-child, .content > :last-child, .footer > :last-child {
  margin-bottom: 0;
}
