/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 17, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*----- mixin font-face ------ */
/*------------ typography  loader ----------- */
@font-face {
  font-family: "Trajan";
  src: url("../web-fonts/Trajan.eot");
  src: url("../web-fonts/Trajan.eot?#iefix") format("embedded-opentype"), url("../web-fonts/Trajan.woff") format("woff"), url("../web-fonts/Trajan.ttf") format("truetype"), url("../web-fonts/Trajan.svg#Trajan") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aleo-Light";
  src: url("../web-fonts/AleoL.eot");
  src: url("../web-fonts/AleoL.eot?#iefix") format("embedded-opentype"), url("../web-fonts/AleoL.woff") format("woff"), url("../web-fonts/AleoL.ttf") format("truetype"), url("../web-fonts/AleoL.svg#Aleo-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aleo-Bold";
  src: url("../web-fonts/AleoB.eot");
  src: url("../web-fonts/AleoB.eot?#iefix") format("embedded-opentype"), url("../web-fonts/AleoB.woff") format("woff"), url("../web-fonts/AleoB.ttf") format("truetype"), url("../web-fonts/AleoB.svg#Aleo-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aleo-Italic";
  src: url("../web-fonts/AleoLI.eot");
  src: url("../web-fonts/AleoLI.eot?#iefix") format("embedded-opentype"), url("../web-fonts/AleoLI.woff") format("woff"), url("../web-fonts/AleoLI.ttf") format("truetype"), url("../web-fonts/AleoLI.svg#Aleo-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aleo-Regular";
  src: url("../web-fonts/AleoR.eot");
  src: url("../web-fonts/AleoR.eot?#iefix") format("embedded-opentype"), url("../web-fonts/AleoR.woff") format("woff"), url("../web-fonts/AleoR.ttf") format("truetype"), url("../web-fonts/AleoR.svg#Aleo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	03/02/14 
 * Author:	twissell & giorgix
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/header/_header.sass */
.header {
  background-color: #3e606f;
}

/* line 2, ../../blocks/title/_title.sass */
.title {
  padding: 12px;
  margin-bottom: 12px;
  display: inline-block;
  width: 70%;
}
/* line 18, ../../sass_lib/_island.sass */
.title > :last-child {
  margin-bottom: 0;
}

/* line 7, ../../blocks/title/_title.sass */
.title__link {
  font-size: 24.876px;
  line-height: 0.965;
  font-family: Trajan, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  color: #fcfff5;
  text-shadow: 0px 0px 1px black;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/logo/_logo.sass */
.logo {
  padding: 12px;
  margin-bottom: 12px;
}
/* line 18, ../../sass_lib/_island.sass */
.logo > :last-child {
  margin-bottom: 0;
}

/* line 18, ../../blocks/logo/_logo.sass */
.logo__image {
  max-width: 100%;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	03/02/14 
 * Author:	twissell & giorgix
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 15, ../../blocks/nav/_nav.sass */
.nav {
  display: inline-block;
  width: 15%;
  text-align: right;
}

/* line 20, ../../blocks/nav/_nav.sass */
.nav__icon {
  display: hidden;
  width: 30px;
  height: 30px;
  background: #91aa9d url(../images/menu-icon.png);
}

/* line 27, ../../blocks/nav/_nav.sass */
.nav__icon:hover {
  background-color: #1f2324;
  border-radius: 4px 4px 0 0;
}

/* line 31, ../../blocks/nav/_nav.sass */
.nav, .nav__item {
  padding: 12px;
  margin-bottom: 12px;
}
/* line 18, ../../sass_lib/_island.sass */
.nav > :last-child, .nav__item > :last-child {
  margin-bottom: 0;
}

/* line 34, ../../blocks/nav/_nav.sass */
.nav__item {
  display: inline-block;
  float: left;
  font-family: Aleo-Regular, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

/* line 41, ../../blocks/nav/_nav.sass */
.nav__link:link {
  color: #d1dbbd;
}
/* line 43, ../../blocks/nav/_nav.sass */
.nav__link:visited {
  color: #91aa9d;
}
/* line 45, ../../blocks/nav/_nav.sass */
.nav__link:hover {
  color: #193441;
}
/* line 47, ../../blocks/nav/_nav.sass */
.nav__link:active {
  color: #fcfff5;
}

@media only screen and (max-width: 599px) {
  /* line 52, ../../blocks/nav/_nav.sass */
  .nav__icon {
    display: inline-block;
  }

  /* line 55, ../../blocks/nav/_nav.sass */
  .nav__list, .nav:active .nav__list {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fcfff5;
    border: 5px solid #1f2324;
    right: 1px;
    top: 42px;
    width: 30%;
    -webkit-border-radius: 4px 0 4px 4px;
    -moz-border-radius: 4px 0 4px 4px;
    -ms-border-radius: 4px 0 4px 4px;
    -o-border-radius: 4px 0 4px 4px;
    border-radius: 4px 0 4px 4px;
  }

  /* line 66, ../../blocks/nav/_nav.sass */
  .nav__item {
    text-align: left;
    width: 100%;
    padding: 10px 0;
    text-transform: capitalize;
  }

  /* line 72, ../../blocks/nav/_nav.sass */
  .nav:hover .nav__list {
    display: block;
  }
}
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
@media only screen and (max-width: 599px) {
  /* line 19, ../../blocks/welcome/_welcome.sass */
  .welcome-message__title {
    padding: 12px;
    margin-bottom: 12px;
    font-size: 24.876px;
    line-height: 0.965;
    font-family: Trajan, Georgia, serif;
    font-weight: 400;
    font-style: normal;
    color: #fcfff5;
    text-align: center;
    text-shadow: 0px 0px 1px black;
  }
  /* line 18, ../../sass_lib/_island.sass */
  .welcome-message__title > :last-child {
    margin-bottom: 0;
  }

  /* line 28, ../../blocks/welcome/_welcome.sass */
  .welcome-message__text {
    padding: 12px;
    margin-bottom: 12px;
    background: #1f2324;
    font-size: 18.662px;
    line-height: 1.286;
    font-family: Aleo-Regular, Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fcfff5;
  }
  /* line 18, ../../sass_lib/_island.sass */
  .welcome-message__text > :last-child {
    margin-bottom: 0;
  }
}
/* line 36, ../../blocks/welcome/_welcome.sass */
.welcome-message__text strong {
  font-family: Aleo-Bold, Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* line 39, ../../blocks/welcome/_welcome.sass */
.welcome-message__text em {
  font-family: Aleo-Italic, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* line 42, ../../blocks/welcome/_welcome.sass */
.welcome-message__image {
  max-width: 100%;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 17, ../../blocks/featured/_featured.sass */
.featured {
  background: #3e606f url("../images/icons/grapes.png") no-repeat right bottom;
  background-size: 75px 75px;
  margin-bottom: 48px;
}
/* line 16, ../../sass_lib/_gravity.sass */
.featured > :last-child {
  margin-bottom: 0;
}

/* line 22, ../../blocks/featured/_featured.sass */
.featured__tag-line {
  padding: 12px;
  margin-bottom: 12px;
  font-size: 21.328px;
  line-height: 1.125;
  font-family: Trajan, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  color: #fcfff5;
  text-shadow: 0px 0px 1px black;
}
/* line 18, ../../sass_lib/_island.sass */
.featured__tag-line > :last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 13, ../../sass_lib/_flag.sass */
.footer {
  display: table;
  width: 100%;
}
/* line 17, ../../sass_lib/_flag.sass */
.footer .footer__text, .footer .footer__social {
  display: table-cell;
  vertical-align: middle;
}
/* line 31, ../../sass_lib/_flag.sass */
.footer .footer__text > img {
  display: block;
  max-width: none;
}
/* line 35, ../../sass_lib/_flag.sass */
.footer .footer__social {
  width: 100%;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
@media only screen and (max-width: 599px) {
  /* line 6, ../../blocks/products/_products.sass */
  .products__item {
    background-color: #3e606f;
    margin-bottom: 48px;
  }
  /* line 16, ../../sass_lib/_gravity.sass */
  .products__item > :last-child {
    margin-bottom: 0;
  }

  /* line 10, ../../blocks/products/_products.sass */
  .product__image {
    margin: 0 auto;
    max-height: 96px;
    max-width: 96px;
    position: relative;
    top: -48px;
  }

  /* line 17, ../../blocks/products/_products.sass */
  .product__image img {
    height: 96px;
    width: 96px;
  }

  /* line 21, ../../blocks/products/_products.sass */
  .product__name {
    font-size: 21.328px;
    line-height: 1.125;
    font-family: Trajan, Georgia, serif;
    font-weight: 400;
    font-style: normal;
    color: #fcfff5;
    text-shadow: 0px 0px 1px black;
    text-align: center;
    margin: -48px 0 0 0;
  }

  /* line 29, ../../blocks/products/_products.sass */
  .product__details {
    padding: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Aleo-Light, Verdana, Geneva, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fcfff5;
    text-align: center;
  }
  /* line 18, ../../sass_lib/_island.sass */
  .product__details > :last-child {
    margin-bottom: 0;
  }

  /* line 36, ../../blocks/products/_products.sass */
  .product__details strong {
    font-family: Aleo-Bold, Verdana, Geneva, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  /* line 39, ../../blocks/products/_products.sass */
  .product__details em {
    font-family: Aleo-Italic, Verdana, Geneva, sans-serif;
    font-weight: 400;
    font-style: italic;
  }
}
/* line 1, ../../blocks/tourism/_tourism.sass */
.tourism {
  padding: 12px;
  margin-bottom: 12px;
  background: #1f2324 url("../images/icons/tourism-cabin.png") no-repeat right;
  background-size: 100px 100px;
  font-size: 16px;
  line-height: 1.5;
  font-family: Aleo-Light, Verdana, Geneva, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fcfff5;
}
/* line 18, ../../sass_lib/_island.sass */
.tourism > :last-child {
  margin-bottom: 0;
}

/* line 9, ../../blocks/tourism/_tourism.sass */
.tourism strong {
  font-family: Aleo-Bold, Verdana, Geneva, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* line 12, ../../blocks/tourism/_tourism.sass */
.tourism em {
  font-family: Aleo-Italic, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* line 15, ../../blocks/tourism/_tourism.sass */
.tourism__title {
  padding: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 24.876px;
  line-height: 0.965;
  font-family: Trajan, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  color: #d1dbbd;
}
/* line 18, ../../sass_lib/_island.sass */
.tourism__title > :last-child {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 13, ../../sass_lib/_flag.sass */
.footer {
  display: table;
  width: 100%;
}
/* line 17, ../../sass_lib/_flag.sass */
.footer .footer__text, .footer .footer__social {
  display: table-cell;
  vertical-align: middle;
}
/* line 31, ../../sass_lib/_flag.sass */
.footer .footer__text > img {
  display: block;
  max-width: none;
}
/* line 35, ../../sass_lib/_flag.sass */
.footer .footer__social {
  width: 100%;
}

/* line 14, ../../blocks/footer/_footer.sass */
.footer {
  background-color: black;
}

/* line 18, ../../blocks/footer/_footer.sass */
.footer__text {
  font-size: 14px;
  line-height: 1.714;
  font-family: Aleo-Regular, Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d1dbbd;
}

/* line 25, ../../blocks/footer/_footer.sass */
.footer__social {
  height: 35px;
  width: 35px !important;
}

/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 31, ../../blocks/main.sass */
.page {
  background: #193441 url("../images/page.png");
}

/* line 35, ../../blocks/main.sass */
a {
  text-decoration: none;
}
