/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Put here the styles that are used by default but
 * the compass reset do not change.
 *
 */
/* line 7, ../../sass_lib/_normalize.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../sass_lib/_normalize.sass */
a {
  text-decoration: none;
}

/*----- mixin font-face ------ */
/*------------ typography  loader ----------- */
@font-face {
  font-family: "Baskerville-Regular";
  src: url("../web-fonts/Libre-Baskerville-Regular.eot");
  src: url("../web-fonts/Libre-Baskerville-Regular.eot?#iefix") format("embedded-opentype"), url("../web-fonts/Libre-Baskerville-Regular.woff") format("woff"), url("../web-fonts/Libre-Baskerville-Regular.ttf") format("truetype"), url("../web-fonts/Libre-Baskerville-Regular.svg#Baskerville-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville-Italic";
  src: url("../web-fonts/Libre-Baskerville-Italic.eot");
  src: url("../web-fonts/Libre-Baskerville-Italic.eot?#iefix") format("embedded-opentype"), url("../web-fonts/Libre-Baskerville-Italic.woff") format("woff"), url("../web-fonts/Libre-Baskerville-Italic.ttf") format("truetype"), url("../web-fonts/Libre-Baskerville-Italic.svg#Baskerville-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Baskerville-Bold";
  src: url("../web-fonts/Libre-Baskerville-Bold.eot");
  src: url("../web-fonts/Libre-Baskerville-Bold.eot?#iefix") format("embedded-opentype"), url("../web-fonts/Libre-Baskerville-Bold.woff") format("woff"), url("../web-fonts/Libre-Baskerville-Bold.ttf") format("truetype"), url("../web-fonts/Libre-Baskerville-Bold.svg#Baskerville-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* line 1, ../../blocks/page/_page.sass */
html {
  background-image: url("../images/textures/light_background.png");
}

/* line 4, ../../blocks/page/_page.sass */
body {
  background-image: url("../images/header__background.gif");
  background-repeat: no-repeat;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 13, ../../blocks/logo/_logo.sass */
.logo {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* line 19, ../../blocks/logo/_logo.sass */
.logo__image {
  height: 94px;
  width: 150px;
}

/* extract from here the justify pattern,
 * it is as follows:
 * 
 * .collection -> nav__list
 *   text-align: justify  
 *   font-size: 0
 * 
 * .collection:after -> nav__list
 *   content: " "
 *   width: 100% 
 *   display: inline-block
 *   
 * .item -> nav__item
 *   display: inline-block
 *   font-size: normalize font size
 *
 *  see block products to another use
 *  of this pattern.
 */
/* line 24, ../../blocks/nav/_nav.sass */
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/textures/granular.png");
}

/* line 33, ../../blocks/nav/_nav.sass */
.nav__list {
  width: 960px;
  margin: 0 auto;
  text-align: right;
}

/* line 38, ../../blocks/nav/_nav.sass */
.nav__item {
  display: inline-block;
  padding: 40px 15px 15px 15px;
}

/* line 43, ../../blocks/nav/_nav.sass */
.nav__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 49, ../../blocks/nav/_nav.sass */
.nav__link {
  color: white;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 13, ../../blocks/welcome_message/_welcome_message.sass */
.welcome-message {
  width: 960px;
  margin: 0 auto;
  padding: 45px 490px 45px 0;
}

/* line 18, ../../blocks/welcome_message/_welcome_message.sass */
.welcome-message__title {
  font-size: 40px;
  font-family: Georgia;
  color: white;
}

/* line 23, ../../blocks/welcome_message/_welcome_message.sass */
.welcome-message__tag-line {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  font-family: Georgia;
  padding: 15px;
  line-height: 1.5;
  color: white;
}

/* line 1, ../../blocks/content/_content.sass */
.content {
  background: #e9f2f9;
  width: 960px;
  margin: 0 auto;
}

/* line 6, ../../blocks/content/_content.sass */
.letter {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

/* line 11, ../../blocks/content/_content.sass */
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

/* line 18, ../../blocks/content/_content.sass */
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}

/* line 25, ../../blocks/content/_content.sass */
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

/* line 3, ../../blocks/products/_products.sass */
.products {
  padding: 45px 15px;
  background: url("../images/products__background.png") no-repeat;
}

/* line 7, ../../blocks/products/_products.sass */
.products-message {
  width: 290px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
}

/* line 13, ../../blocks/products/_products.sass */
.products__list {
  width: 630px;
  display: inline-block;
  text-align: right;
  font-size: 0;
}

/* line 19, ../../blocks/products/_products.sass */
.products__list:after {
  content: " ";
  width: 100%;
  display: inline-block;
}

/* line 25, ../../blocks/products/_products.sass */
.products__item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-align: left;
  color: white;
  margin-left: 30px;
}

/* line 36, ../../blocks/products/_products.sass */
.product {
  width: 150px;
  height: 180px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: white;
  border: 2px solid white;
}

/* line 47, ../../blocks/products/_products.sass */
.product__image {
  width: 150px;
  height: 180px;
}

/* line 51, ../../blocks/products/_products.sass */
.product__info {
  width: 150px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 61, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1 .product__image {
  transition: all 0.2s linear;
}
/* line 64, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1 .product__info {
  opacity: 0;
  background-color: rgba(28, 92, 163, 0.7);
  transition: all 0.4s ease-in-out;
}
/* line 69, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1 .product__ingredients {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 74, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1 .product__type {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
/* line 79, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1 .product__tasting-notes {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 83, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1:hover .product__image {
  transform: scale(1.1);
}
/* line 86, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1:hover .product__info:hover {
  opacity: 1;
}
/* line 89, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1:hover .product__ingredients, .product--skin-thumbnail-1:hover .product__type, .product--skin-thumbnail-1:hover .product__tasting-notes {
  opacity: 1;
  transform: translateY(0px);
}
/* line 95, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1:hover .product__type {
  transition-delay: 0.1s;
}
/* line 98, ../../blocks/products/_products.sass */
.product--skin-thumbnail-1:hover .product__tasting-notes {
  transition-delay: 0.2s;
}

/* line 103, ../../blocks/products/_products.sass */
.product__ingredients {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  font-style: italic;
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
  margin: 20px 0 0 0;
}

/* line 114, ../../blocks/products/_products.sass */
.product__type {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  text-transform: uppercase;
  position: relative;
  color: white;
  padding: 10px 20px 20px;
  text-align: center;
}

/* line 123, ../../blocks/products/_products.sass */
.product__tasting-notes {
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 7px 14px;
  background: #111111;
  color: white;
  box-shadow: 0 0 1px black;
}
/* line 134, ../../blocks/products/_products.sass */
.product__tasting-notes:hover {
  box-shadow: 0 0 5px black;
}

/* line 137, ../../blocks/products/_products.sass */
.product__name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
  color: #1e1e1e;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px dotted #1e1e1e;
}

/* line 150, ../../blocks/products/_products.sass */
.products-message .products__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 34px;
  text-align: center;
}
/* line 155, ../../blocks/products/_products.sass */
.products-message .products__tag-line {
  font-family: Georgia;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
}
/* line 161, ../../blocks/products/_products.sass */
.products-message p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px dotted #1e1e1e;
}

/*.tourism
 * +island
 * background: $very-loud url('../images/icons/tourism-cabin.png') no-repeat right
 * background-size: 100px 100px
 * +unit
 * +primary--light
 * color: $very-soft
 *
 *.tourism strong
 * +primary--bold
 *
 *.tourism em
 * +primary--italic
 *
 *.tourism__title
 * +island
 * text-align: center
 * //background-color: $soft
 * +kilo
 * +secondary--regular
 * color: $moderately-soft
 * //+single-text-shadow($very-soft)
 */
/* line 26, ../../blocks/tourism/_tourism.sass */
.tourism {
  padding: 30px;
  height: 350px;
  background-size: 100% 350px;
}

/* line 34, ../../blocks/tourism/_tourism.sass */
.tourism .tourism__header, .tourism p {
  background: #e9f2f9;
  padding: 30px;
}

/* line 38, ../../blocks/tourism/_tourism.sass */
.tourism__header {
  padding: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 42, ../../blocks/tourism/_tourism.sass */
.tourism__title {
  font-size: 34px;
  background: #f2fbff;
}

/* line 46, ../../blocks/tourism/_tourism.sass */
.tourism__tag-line {
  background: #f2fbff;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 13, ../../blocks/footer/_footer.sass */
.footer {
  height: 350px;
  background-image: url("../images/textures/granular.png");
}
